<!DOCTYPE html>
<html>

<head>
    <title>Welcome to my Website</title>
    <link href="style.css" rel="stylesheet" type="text/css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
    
</head>

<body>
    <h1> GITHUB USERS ACCOUNT <% posts.length %>
    </h1>
    <table>
        <tr class="theader">
            <th>ID</th>
            <th>Login</th>
            <th>avatar</th>
        </tr>
    
    <% for(let i=0; i < posts.length; i++) { %>        
            <tr>
                <td>
                    <h2>
                        <%= posts[i].id %>
                    </h2>
                </td>
                <td>
                    <h2>
                        <%= posts[i].login %>
                    </h2>
                </td>
                <td>                   
                    <img class="gitimg" src= <%= posts[i].avatar_url %>/>
                </td>
            </tr>
      
        <% } %>
    </table>
</body>

</html>